[submodule "s7"]
	path = s7
	url = https://cm-gitlab.stanford.edu/bil/s7.git
[submodule "Celeste"]
	path = Celeste
	url = git@github.com:NoelFB/Celeste.git
[submodule "netty-mqtt"]
	path = netty-mqtt
	url = git@github.com:jeffreykog/netty-mqtt.git
[submodule "json-tutorial"]
	path = json-tutorial
	url = git@github.com:miloyip/json-tutorial.git
[submodule "awesome-cheatsheets"]
	path = awesome-cheatsheets
	url = git@github.com:skywind3000/awesome-cheatsheets.git
[submodule "smallchat"]
	path = smallchat
	url = git@github.com:antirez/smallchat.git
[submodule "kcp"]
	path = kcp
	url = git@github.com:skywind3000/kcp.git
[submodule "kilo"]
	path = kilo
	url = git@github.com:antirez/kilo.git
[submodule "git-from-the-bottom-up"]
	path = git-from-the-bottom-up
	url = git@github.com:jwiegley/git-from-the-bottom-up.git
[submodule "chibicc"]
	path = chibicc
	url = git@github.com:rui314/chibicc.git
[submodule "btree"]
	path = btree
	url = git@github.com:google/btree.git
[submodule "simple-netty"]
	path = simple-netty
	url = git@github.com:binarywz/simple-netty.git
[submodule "KVM"]
	path = KVM
	url = git@github.com:Jessicahust/KVM.git
[submodule "avlmini"]
	path = avlmini
	url = git@github.com:SBZORRO/avlmini.git
