[submodule "s7"]
	path = s7
	url = https://cm-gitlab.stanford.edu/bil/s7.git
[submodule "Celeste"]
	path = Celeste
	url = git@github.com:NoelFB/Celeste.git
[submodule "netty-mqtt"]
	path = netty-mqtt
	url = git@github.com:jeffreykog/netty-mqtt.git
[submodule "json-tutorial"]
	path = json-tutorial
	url = git@github.com:miloyip/json-tutorial.git
